{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="courses-container">
    <h2>Все курсы</h2>
    {% for course in courses %}
    <div class="course-item" onclick="location.href='{{ url_for('course.course_detail', course_id=course.id) }}'">
        <img src="{{ url_for('static', filename=course.logo) if course.logo else url_for('static', filename='images/default_logo.png') }}" alt="Логотип курса" class="course-logo">
        <span class="course-title">{{ course.title }}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}
